<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
    <script src="/static/js/content.js" type="text/JavaScript"></script>
    <script src="/static/js/manette_control.js" type="text/JavaScript"></script>
    <script src="/static/js/clavier_control.js" type="text/JavaScript"></script>
    <title>Kawaii</title>
  </head>

  <body>
    <nav class="sticky_top menu" id="menu" autohide="true">
      <ul>
        <li><a href="#Accueil">Accueil</a></li>
        <li><a href="#Mode">Mode</a></li>
        <li><a href="#Controlleur">Controlleur</a></li>
        <li><a href="#Camera">Camera</a></li>
      </ul>
    </nav>


    <div class="all">
      <div class="right_panel">

      </div>
      <div class="content" id="content">
        <div style="padding-left: 10%;
        padding-right: 10%;
        padding-bottom: 10%;
        padding-top: 5%;"></div>
      </div>
      <div class="left_panel">
        <nav class="sticky_top menu_left" id="menu_left" autohide="false"  mode="0">
            <ul>
              <div class="menu_left_icon" id="manette_left_mode">
                <img src=""/>
              </div>
            </ul>
        </nav>
      </div>
    </div>

  <script src="static/js/content.js"></script>
  </body>

  <!-- Site footer -->
  <footer class="site-footer">
  </footer>
</html>
