<!DOCTYPE html>
<html>
<body>

<h2>Formulaire d'Inscription</h2>
<h5>ATTENTION : Veillez à être persuadé de conserver ces informations d'identification secrète. Cela en va de la sécurité du site.</h5>
<h1> </h1>
<form action="/register" method="post">
  <label for="username">Identifiant :</label><br>
  <input type="text" id="username" name="username"><br>

  <label for="password">Mot de Passe:</label><br>
  <input type="password" id="password" name="password"><br>

  <label for="îp">Votre Ip :</label><br>
  <input type="text" id="ip" name="ip"><br>
  
  <h1> </h1>

  <input type="submit" value="Enregistrer">
</form> 

</body>
</html>
