/*
#

*/
@font-face {
  font-family: 'Pixelogist';
  src: url('../font/PixeloidSans.ttf') format('truetype');
  }

body {
  margin: 0;
  font-family: 'Pixelogist';
  height : 100%;
  width: 100% ;
  background-color: #f96c00;
  overflow-x: hidden;
}
html, body {
  /* margin: 0; */
  /* height: 100%; */
}
.all{
  display: inline-grid;
  background: linear-gradient(to bottom, #f96c00, #fb9b01);
  background-repeat: no-repeat;
  grid-template-columns: 15vw 70vw 15vw;
  height : 100%;
}

.left_panel{
  grid-column: 1;
  grid-row: 1;
  background: linear-gradient(to bottom, #f96c00, #fb9b01);
}

div.content h1{
  display: flex;
  color: #f96c00;
  justify-content: center;
  align-items: center;
}

.content{
  z-index: 1;
  border-radius: 20% 20% 20% 20%;
  background-color: #e8e8e8;
  grid-column: 2;
  grid-row: 1;
  /* padding: 6%; */
  font-size: 1.5vw;
  min-height: 100vh;
  box-shadow: 0em 0em 0.5em 1em rgba(255, 255, 255, 0.185);
}
.right_panel{
  grid-column: 3;
  grid-row: 1;
  background: linear-gradient(to bottom, #f96c00, #fb9b01);
}

.right_panel .left_panel{
/* background-color: #fb9b01; */
background: linear-gradient(to bottom, #f96c00, #fb9b01);
width: 20%;
}

.all{
margin-top: 1vh;
/* height: 85%; */
width: 100%;
height: 100%;
}

nav.menu {
  border-radius: 0% 0% 20% 20%;
  background-color: #00000063;
  width: 100%;
  margin-bottom: 0%;
  height: 15%;
  z-index: 3;
}

nav.menu[autohide="true"]:hover {
  margin-bottom: 0%;
  height: 15%;
  transform: translateY(0);
  transition-delay: 0s;
  transition-property: transform margin-bottom height;
}

nav.menu[autohide="true"] {
  height: 3%;
  transition-duration: 1s;
  transition-timing-function: ease;
  transform: translateY(-80%);
  margin-bottom: -5%;
  transition-delay: 0s;
  transition-property: transform margin-bottom height;
}

nav.menu button {
  padding: 0;
  justify-content: center; /* Centre les éléments horizontalement */
  align-items: center; /* Centre les éléments verticalement */
  width: 10%;
}

nav.menu ul {
  display: flex ; /* Affiche les éléments du menu en ligne */
  justify-content: center; /* Centre les éléments horizontalement */
  align-items: center; /* Centre les éléments verticalement */
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 2vw;
  padding-top: 1vw;
}
nav.menu li {
  flex-wrap: nowrap;
  display: inline-table;
  padding-left: 1vw;
}

nav.menu li a {
  padding-left: 0.5vw;
  border-radius: 25% 10%;
  display: block;
  /* padding-right: 1vw; */
  text-decoration: none;
  font-size: 5vw;
  color: #fff;
  transition-duration: 1s;
  transition-property: color background-color transform margin box-shadow;
  /* font-weight: bold; */
}

nav.menu li a:hover {
  /* font-family: 'Pixelogist', sans-serif; */
  color: #000000;
  background-color: #e8e8e8;
  transform: scale(1.1);
  margin-left: 1vw;
  margin-right: 1vw;
  box-shadow: 0em 0em 0.3em 0.1em #e8e8e8;
  /* transform: scaleY(0.8); */
}


nav.menu_left {
  top: 10%;
  display: flex;
  width: 200%;
  height: 10vh;
  margin-right: -5%;
}

.sticky_top{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

nav.menu_left ul {
  display: block ; /* Affiche les éléments du menu en ligne */
  justify-content: center; /* Centre les éléments horizontalement */
  align-items: center; /* Centre les éléments verticalement */
  list-style: none;
  max-width: 50%;
  height: 100%;
  margin: 0;
  margin-left: 50%;
  padding: 0;
}

nav.menu_left_icon{
  /* width: 100%; */
  /* vertical-align: top; */
  display: block;
  /* align-items: flex-end; */
  /* height: var(--menu_left_height); */
  background-color: red;
  /* margin-right: 0; */
  /* margin-left: auto; */
}

.menu_left_icon img{
  border-radius: 0% 20% 20% 00%;
  background-color: #FFFFFF63;
  /* background-color: red; */
  max-width: 50%;
  display: flex;
  width: 100%;
}

#menu_left[mode="0"]{
  animation: gamepad_disconnect 1s cubic-bezier(0.37, 0, 0.63, 1) 0s 1  normal forwards;

}

#menu_left[mode="1"]{
  animation: gamepad_connect 1s cubic-bezier(0.37, 0, 0.63, 1) 0s 1  normal forwards;
  /* visibility: collapse; */
  display: block;
}

@keyframes gamepad_disconnect {
	0% {
		transform: translateX(-50%);
	}
	100% {
    transform: translateX(-100%);
    display: none;
	}
}

@keyframes gamepad_connect {
	0% {
		transform: translateX(-100%);
	}
	100% {
		transform: translateX(-50%);
	}
}

.camera_div{
  background: url(/videofeed); height: 100%; width: 100%;
  display: flex;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  min-width: 50%;
  min-height: 50%;
}

.camera_video{
  /* background: url(../img/loadinggif.gif); */
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}
/* test pour resize l'image du mode de fonctionnement dans l'onglet*/
/* camera */

/* img {

  width : 150px;
  height : 150px;

} */
