.selection{
  display: flex;
  align-items: center;
  background-color: #e8e8e8;
  height: 80vh;
}
.choix{
  background-color: rgb(201, 112, 56);
  border-radius: 10%;
  width: 40vh;
  height: 60vh;
  padding: 5%;
  margin: 2.5%;
  max-width: 30%;
  /* max-width: 30% */
}
.choix img{
  max-height: 100%;
  max-width: 100%;
}
